@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$font: roboto;

body {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(225, 225, 225);
}
p {
  font-family: $font;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $font;
}

h2 {
  padding-right: 10px;
}

header {
  margin: 0 0 20px 0;
  width: 100vw; 
  display: flex; 
  justify-content: center; 
}

button {
  height: 30px;
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

button:hover {
  background-color: rgb(245, 245, 245);
  
}

input {
  height: 30px;
  margin: 0 10px;
  border: none;
  border-radius: 3px;
}

::placeholder {
  padding-left: 5px; 
  font-size: 1rem;
}

.search-container {
  margin: 10px 0;
  display: flex;

  .city-search{
    width: 200px;
  }
  
  .state-search{
    width: 60px;
  }
}

.clear-button-container {
  margin: 20px 0;
  // background-color: green;
}

.location-results-container, .search-results-container {
  width: 100%;
  // background-color: blue;
  display: none;
  flex-direction: column;

  .area-container {
    width: 100vw;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    // background-color: yellow; 

    .city-state {
      display: flex;
      align-items: center;
      // background-color: blue; 
      
    }
  }
}

// .trail-container {
//   // background-color: yellow;
//   .trail-info-container {
//     display: flex; 
//     align-items: flex-end; 
//     white-space: pre-wrap;  // This is to use the \n newline in the template string in variable trailInfo */ 
//     background-color: orange;
    
    // .trail-list {
    //   padding: 0;
    //   display: flex;
    //   flex-direction: column;
    //   background-color: red; 
    // }
    
    // .trail-image {
    //   width: 400px;
    //   height: 100%;
    // }
    
    // h4 {
    //   padding: 0 10px;
    // }
    
    // li {
    //   list-style-type: none;
    // }
    
    // .trail-info {
    //   padding: 5px 0;
    // }

    // .trail-image-container {
    //   background-color: blue;
    // }
    
    // .horizontal-line {
    //   margin: 20px 0;
    //   display: block;
    //   overflow: hidden;
    //   border-style: solid;
    //   border-width: 1px;
    //   color: rgb(150, 150, 150);
    // }
  // }
// }